header {
    height: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

body {
    background-image: url("../bilder/Homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
}
h3 {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
}

button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding-left: 30px;
}

button:active {
    background-color: #ffffff;
    box-shadow: 0 2px #ffffff;
    transform: translateY(4px);
}

#lineHeader {
    height: 3px;
    background-color: #000000;
}

#chartBtn {
    position: absolute;
    right: 50px;
}

#pageContentDiv {
    background-color: rgba(128, 128, 128, 0.5);
    width: 900px;
    position: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#loginContentDiv {
    background-color: rgba(211, 211, 211, 0.8);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    width: 500px;
}

#chartContentDiv {
    background-color: rgba(211, 211, 211, 0.8);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    width: 500px;
    float: right;
}

#productContentDiv { 
    background-color: rgba(211, 211, 211, 0.8);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    width: 500px;
}

#productBtnDiv {
    background-color: rgba(211, 211, 211, 0.8);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 70px;
    left: 90px;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    width: 100px;
    height: 150px;
}

.itemDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.removeBtn{
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 35px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px;
}

.removeBtn:hover {
    background-color: rgb(97, 233, 126);
}

.removeBtn:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.emptyBtn{
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 35px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px;
    place-content: right;
}

.emptyBtn:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(3px);

}

.cancelBtn {
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px;
}

.cancelBtn:hover {
    background-color: rgb(97, 233, 126);
}

.cancelBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.checkoutBtn{
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0px;
}

.checkoutBtn:hover {
    background-color: rgb(97, 233, 126);
}

.checkoutBtn:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.formBtns{
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0px;
}

.formBtns:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.manProductBtns{
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0px;
    position: absolute;
    top: 40px;
    left: -20px;
}

.manProductBtns:hover {
    background-color: rgb(97, 233, 126);
}

.manProductBtns:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.womanProductBtns{
    background-color: rgba(2, 225, 2, 0.848);
    color: rgb(0, 0, 0);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0px;
    position: absolute;
    top: 100px;
    left: -20px;

}

.womanProductBtns:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.styleInspirationHeader {
    position: absolute;
    width: 801px;
    height: 53px;
    left: 520px;
    top: 131px;
    font-family: 'Jacques Francois Shadow';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #98e99c;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.5);
}

.styleInspirationText {
    position: absolute;
    width: 1301px;
    height: 58px;
    left: 518px;
    top: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #98e99c;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.5);
}
.link {
   
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #a8ebc7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: color 0.3s, transform 0.3s; 
}
.link:hover {
    color: #d5eee1;
    transform: scale(1.01);
}

ul {
    font-size: 23px;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.35);
    display: contents;
}

