<!DOCTYPE html>
<html lang="en"
    <head>
        <meta charset="utf-8" />
        <title>Kassa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/x-icon" href="bilder\favicon.ico">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="..\static\checkout.js" defer></script>
    </head>
    <body>
        <header>
            <nav class="header"></nav>
            <button id="loginBtn">Logga in / Registrera <img src="../bilder/arrowIcon.jpg" alt="What!?" height="15px"></button>
            <button id="productBtn">Produkter <img src="../bilder/arrowIcon.jpg" alt="What!?" height="15px"></button>
            <button id="orderBtn">Ordrar <img src="../bilder/orderIcon.png" alt="What!?" height="23px"></button>
            <button id="inspirationBtn">Inspiration <img src="../bilder/inspirationIcon.png" alt="What!?" height="18px"></button>
            <button id="homeBtn">Hem <img src="../bilder/homeIcon.png" alt="What!?" height="20px"></button>
            <button id="chartBtn"><img src="../bilder/chartIcon.png" alt="What!?" height="22px"></button>
        </nav>
    </header>
    <nav id="lineHeader"></nav>
     <div id="pageContentDiv">
        <div id="checkout"></div>
    </div>
    </body>
</html>
