<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tack för din order!</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/x-icon" href="bilder\favicon.ico">
        <script src="..\static\confirmed.js" defer></script>
    </head>
    <body>
        <header>
            <nav class="header">
                <button id="homeBtn"><img src="../bilder/OIG2 (2).jpg" alt="What!?" height="50px" /></button>
            </nav>
        </header>
                <nav id="lineHeader"></nav>
        <div id="pageContentDiv">
            <h1>
                Tack för din order! <br />
                Du skickas tillbaka till startsidan om <span id="countdown"></span> sekunder...
            </h1>
        </div>
    </body>
</html>
