<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tack för din order!</title>
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="icon" type="image/x-icon" href="bilder\favicon.ico" />
        <script src="..\static\confirmed.js" defer></script>
    </head>
    <body>
        <header></header>
        <nav id="lineHeader"></nav>
        <div id="pageContentDiv">
            <h1>
                Tack för din order! <br />
                Du skickas tillbaka till startsidan om <span id="countdown"></span> sekunder...
            </h1>
        </div>
    </body>
</html>
